/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext);

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* loader */

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -25px 0 0 -25px;
    border: 3px solid transparent;
    border-top: 3px solid #ea4c88;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* typography */

body {

    font-family: 'Roboto', sans-serif;
    color: #000;
    background: #fff;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 500;
}
 ul,
 li,
 p {
    padding: 0;
    margin: 0;
 }

 button {
    outline: none;
 }

i {
    padding-right: 10px;
}

.main-btns {
    position: absolute;
    top: 24%;
    color: #fff;
    background: transparent;
    border: none;
}

.font-s {
    font-size: 12px;
    font-weight: 300;
}

.font-m {
    font-size: 15px;
    font-weight: 300;
}

/* header */

.home-header {
    position: relative;
    height: 45px;
    background-color: #ea4c88;
}

.tab-title {
    text-align: center;
    line-height: 45px;
}

.menu-icon {
    left: 15px;
}

.operation-icon {
    right: 15px;
}

/* horizontal menu */

.menu-in-row {
    height: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    border-bottom: 5px solid rgba(154, 98, 70, 0.2);
    background-color: #fff;
}

@media screen and (min-width: 640px) {
    .menu-in-row {
        overflow-x: hidden;
    }
}
.row-menu-links{
    width: 24em;
    margin: 0 auto;
    list-style-type: none;
    line-height: 60px;
    text-align: justify;
}

.menu-link {
    display: inline-block;
    padding-left: 28px;
}

.menu-link a {
    display: block;
    color: #000;
    text-decoration: none;
}

.active-row-element {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 25px 0 25px;
    border-color: #fff transparent transparent transparent;
}

/* main page content */

.apps img{
    float: left;
    width: 50%;
}

.main-screen ul {
    list-style-type: none;
}
/* hamburger */

.menu {
    display: none;
    position: absolute;
    top: 0;
    width: 280px;
    z-index: 99999;
}

.search-wrap {
    position: relative;
    padding-top: 10px;
    color: #c1c1c1;
}

.menu-search-icon {
    position: absolute;
    top: 12px;
    left: 10px;
    background: transparent;
    border: none;
}

.search {
    width: 200px;
    height: 25px;
    padding-left: 35px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

.search:focus {
    outline: none;
}

.menu-item {
    display: block;
    height: 45px;
    padding-top: 2px;
    background: #303030;
}

.menu-item:nth-of-type(5),
:nth-of-type(10) {
    padding-top: 10px;
}

.menu-item:nth-last-child(1) {
    padding-bottom: 82px;
}
.menu-item img {
    width: 35px;
    height: 35px;
}

.menu-item a{
    display: block;
    height: 45px;
    padding-left: 10px;
    line-height: 45px;
    text-decoration: none;
    color: #b9b9b9;
    background: #353535;
}

.nav-icon {
    padding: 0 10px 0 5px;
}

.nav-tab {
    padding-left: 20px;
}

/* profile page */

.profile-content {
    position: relative;
    height: 303px;
    text-align: center;
    border-bottom: 5px solid rgba(154, 98, 70, 0.2);
}

.profile-details {
    position: absolute;
    top: 30px;
    left: 50%;
}

.profile-details img {
    width: 130px;
    height: 130px;
    margin-left: -65px;
    border-radius: 65px;
}

.add-button {
    position: absolute;
    top: 118px;
    left: 0%;
    width: 28px;
    height: 28px;
    margin-left: -14px;
    border: none;
    border-radius: 14px;
    background: #698d41;
    background-size: 28px 28px;
}
.plus-icon {
    position: absolute;
    top: -5px;
    left: -5px;
    font-size: 28px;
    color: #8aba56;
}

.about-me {
    position: absolute;
    top: 170px;
    left: 0;
    margin-left: -67px;
    color: #373737;
}

.attr-wrapp {
    width: 320px;
    margin: 0 auto;
}
.attributes {
    position: absolute;
    bottom: 10px;
}

.attribute {
    display: inline-block;
    padding-left: 25px;
}

.attribute:nth-of-type(1) {
    padding-left: 18px;
}

/* shot page */

.repositiories {
    position: relative;
    height: 105px;

}

.shot-photo{
    position: absolute;
    top: 16%;
    left: 50%;
    margin-left: -140px;
}

.shot-photo img {
    width: 65px;
    height: 65px;
}

.shot-photo .add-button {
    position: absolute;
    top: 40px;
    left: 10px;
}

.details {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -50px;
}

.creator {
    color: #eb5d91;
}

.date {
    padding-top: 5px;
    font-size: 9px;
    font-weight: 300;
    color: #c7c7c7;
}

.messages {
    line-height: 65px;
    background: #e5e5e5;
}

.counters {
    width: 320px;
    margin: 0 auto;
}

.counters li {
    display: inline-block;
    padding-left: 40px;
}

.shot-image img {
    width: 100%;
}

.messenger {
    background: #f8f8f8;
}
.messenger ul {
    width: 320px;
    margin: 0 auto;
    list-style-type: none;
}
.message img {
    float: left;
    width: 55px;
    height: 55px;
    padding-right: 20px;
}
.message {
    clear: both;
    width: 97.6vw;
    height: 60px;
    padding-top: 15px;

}

.name {
    padding-top: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #ea4c88;
}

.message-text {
    color: #464646;
    padding-bottom: 17px;
    margin-left: 75px;
    border-bottom: 1px solid #e5e5e5;
}

.comment {
    clear: both;
    height: 45px;
    background: #e5e5e5;
}

.comment form {
    width: 300px;
    padding-top: 10px;
    margin: 0 auto;
}

.input-comment,
.send {
    border: none;
    border-radius: 5px;
}

.input-comment {
    width: 200px;
    height: 25px;
    padding-left: 20px;
    margin-left: 20px;

}

.send {
    height: 25px;
    color: #fff;
    background: #ea4c88;
}

.send i {
    padding: 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
